<h3>Главная страница</h3>
<style>
   body {
    background-size: cover; /* Масштабируем фон */
    background-image: url(../qwe.jpg); /* Путь к фоновому изображению */
    color: #d77d31;
   }
</style>
