<h1 align="center"><font color="white">World-out</font>
</h1>
<body style="background-size: fill; background-image: url(../two.jpg);">	  /* установка цвета формы */
  <table align="justify">
    <tr>
      <td width="20%">
      </td>
      <td width="60%">
        <p>
          <font color="white">
            Это была семья, одна из таких же тысяч обычных, проживавших в этом округе. Глава семейства Фред Олсон, его жена Мэри, сын Джек , две девочки: Элли и Мелесса и пес Фрэнк.	#disqus_thread a {
            Фред был писателем научной литературы, изучал древние культуры и религию. Чаще он был угрюмый, замкнутый и неразговорчивый, реже - веселый и добродушный. Дети учились дома, школа была далеко, да и Мэри, по прошлой профессии гувернантка, с обучением детей исправно справлялась. Семья вела затворнический образ жизни, лишь только друг Фреда, доктор Роберти заглядывал время от времени. Они запирались в его кабинете и проводили там достаточно долгое время. Предмет же споров и дискуссий никто не знал.
            Это был обычный, затянутый предгрозовыми облаками, день. Здесь очень часто бывают такие. Дождь идет очень редко, но вот гроза и гром - обычное явление. Фрэд уехал в город. После последнего визита Роберти они сильно повздорили, и доктор не появлялся уже несколько недель. Джек и Мелесса были на домашнем уроке от мамы. Малышка Элли играла во дворе со своим лучшим другом псом Фрэнком.	}
            В какой-то момент воздух стал невыносимо тягучим и вязким как весенняя слякоть. У Мэри сперло дыхание, тревожное чувство опасности и беды не отпускало ее. Гремел гром и не переставала лаять собака. Мэри бросилась во двор. Во дворе стоял Фред и держал на руках бездыханное тело Элли, пес Фрэнк раздавался лаем и рвался к ним. Как сказал Фред, тело дочки он нашел в домике на дереве.
            После похорон Фред винил всех в смерти Элли. Пса он попросту заколотил в его будке, а сам заперся в своем кабинете и практически никогда не выходил из него. Доктор Робберти же наоборот, стал приезжать к нему все чаще и чаще
          </font>
        </p>
      </td>
      <td width="20%">
      </td>
      <tr>
        <tr>
          <td width="20%">
          </td>
          <td width="60%">
            <iframe src="https://api-mir-kvestov.ru/api/quests/1009?city_id=30" width="100%" height="650px" scrolling="no" frameborder="no"></iframe>
          </td>
          <td width="20%">
          </td>
          <tr>
	</table>
</body>
<%= render 'disqus' %>
