<h1 align=center><font color=white>Silent Hill</font></h1>
<body style="background-size: fill; background-image: url(../one.jpg);">
	<table align=justify>
		<tr>
			<td width="20%">
			</td>
			<td width="60%">
				<p><font color=white>
					Звонок раздался абсолютно нежданно и неожиданно, по спине пробежал холодок от странного неизвестного номера, звонящего в столь поздний час. «Здравствуйте», - произнес чей-то спокойный, ровный холодный голос, от которого становилось еще больше не по себе. «Вас беспокоит консьерж отеля. Для вас оставили посылку, не могли бы вы ее забрать?» Чувство оцепенения схватило от пяток до самой макушки, внутри все замерло, руки обдал холодный пот, рот монотонно произнес:« Да, конечно, я ее очень ждал, куда подъехать?».
Вы спешно одеваетесь и вызываете машину, голову перегружает куча затуманенных мыслей : "Что за посылка ? Почему я так ответил? Почему я в такой спешке еду в неизвестное место?"
Вас встречает тяжелым взглядом высокий безэмоциональный консьерж. Рядом с ним стоят еще 3 человека, также явно не осознавших, что они здесь делают. Вы подходите к потерянным людям, консьерж достает из под стола старую книгу с надписью «Сайлент Хилл» и протягивает ее собравшимся. «Пройдите, вас уже ожидают». Вы покорно повинуетесь и идете по длинному коридору старого отеля, открывается старая скрипучая дверь и вы послушно делаете шаг в темноту не в силах подчинить свое тело и остановиться. Ваш голос нарушает молчание: «Извините, но кто нас ожидает ?» Но консьерж с каменным лицом, закрывает дверь. Темнота заполняет пространство вокруг вас...	 }
				</font></p>
			</td>
			<td width="20%">
			</td>
		<tr>
		<tr>
			<td width="20%">
			</td>
			<td width="60%">
				<iframe src="https://api-mir-kvestov.ru/api/quests/1009?city_id=30" width="100%" height=650px scrolling="no" frameborder="no"></iframe>
			</td>
			<td width="20%">
			</td>
		<tr>
	</table>
</body>
<%= render 'disqus' %>
