<h1>Квест 1</h1>
<style>
   body {
    background-size: cover; /* Масштабируем фон */
    background-image: url(../one.jpg); /* Путь к фоновому изображению */
    color: #d77d31;
   }
   /* установка цвета формы */
 #disqus_thread {
 background: black;
 }

 /* цвет ссылок */
 #disqus_thread a {
  color: red;
 }
</style>


<%= render 'disqus' %>
